* {
    box-sizing: border-box;
    padding: 0;
}

.wrapper {
    width: 100%;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.popular {
    font-family: 'montserratregular';
    height: 843px;
    background: linear-gradient(
          to right,
          #FBF8F8 0%,
          #FBF8F8 60%,
          #EE7700 60%,
          #EE7700 100%
        );
}
.popular_container {
    display: flex;
    height: 100%;  
}
.articles_container{
    height: 100%;
    padding-top: 100px;
}
.feedback_container{
    height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - */


/*

                РАЗДЕЛ
                    ПОПУЛЯРНЫЕ БЛЮДА

*/


/* - - - - - Заголовок и описание - - - - - */
.popular-text {
    padding-top: 260px;
    padding-left: 100px;
    position: relative;    
    display: flex;
    flex-direction: column;
    width: 50%;
}
.popular-h1{
    font-family: 'montserratbold';
    font-size: 46px;
    line-height: 121.9%;
    color: #2F2F2F;
    margin: 0;
}
.popular-p-dishes {
    width: 450px;
    font-size: 18px;
    line-height: 145%;
}
.popular-btn {
    cursor: pointer;
    font-family: 'montserratsemibold';
    margin-top: 16px;
    width: 208px;
    height: 48px;
    font-size: 16px;
    line-height: 121.9%;
    color: white;
    background-color: #EE7700;
    border: #EE7700;
    border-radius: 0px 24px 24px 24px;
    box-shadow: 0px 0px 16px rgba(255, 119, 20, 0.44);
}
.popular-btn:hover {
    background-color: #E86100;

    transition: 1s all;
} /* - - - - - - - - - - - - - - - - - - - - */


/* - - - - - Работа с фоном - - - - - */
.popular-bg {
    position: relative;
    width: 50%;
    background: url("../content/popular-dishes-back.png") no-repeat 265px 0 #FBF8F8;
}
.popular-bg-img {
    position: absolute;
    right: 0px;
    top: 105px;
}
.popular-bg-line {
    position: absolute;
    top: 45px;
    right: -55px;
}
.popular-card {
    position: absolute;
    top: 500px;
    right: 425px;
    width: 305px;
    height: 220px;
    padding: 7px 0 15px 38px;
    background-color: white;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.11);
    border-radius: 0px 33px 33px 33px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

.popular-card-des1 {
    font-family: 'montserratsemibold';
    font-size: 18px;
    line-height: 121.9%;
    margin: 20px 0px 12px 0px;
}
.popular-card-des2 {
    font-size: 16px;
    font-family: 'montserratmedium';
    line-height: 155.4%;
    margin: 0;
}
.popular-card-cost {
    font-family: 'montserratbold';
    font-size: 18px;
    color: #EE7700;
}
.popular-btn-card {
    cursor: pointer;
    color: #2F2F2F;
    border: none;
    position: static;
    background-color: white;
    font-family: 'montserratsemibold';
    font-size: 16px;
    text-align: left;
    line-height: 155.4%;
    width: 120px;
}
.popular-btn-card--text:hover{
    color: #EE7700;
    transition: 0.5s all;
}
.popular-btn-card--text:hover .popular-row{
    border-right: 2px solid #EE7700;
    border-top: 2px solid #EE7700;
    transition: 0.5s all;
}

/* - - - - - - - - - - - - - - - - - - - - */


/* - - - - - Кнопки на карточке - - - - - */
.p-btn {
    position: absolute;
    left: 180px;
    bottom: -23px;
    display: flex;
}
.popular-btn-slider {
    cursor: pointer;
    text-align: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
}

/*left*/
.p-b-s--prev {
    background-color: #82BC00;
    left: 0;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-b-s--prev:hover{
    background: #85c005;
}
.p-b-s--prev:active{
    background: rgb(112, 163, 0);
}

/*right*/
.p-b-s--next {
    background-color: #EE7700;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-b-s--next:hover{
    background: #f87f05;
}
.p-b-s--next:active{
    background: #E86100;
} /* - - - - - - - - - - - - - - - - - - - - */


/*

                РАЗДЕЛ
                    ИНТЕРЕСНЫЕ СТАТЬИ

*/


/* - - - - - Заголовок и статьи - - - - - */
.articles-h2{
    font-family: 'montserratbold';
    font-size: 34px;
    padding-bottom: 24px;
    margin: 0 0 5px 0;
}
.article{
    border: none;
    border-radius: 10px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.all-articles_container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 355px 279px;
    grid-gap: 30px;
}
.article-text{
    color: white;
    font-family: 'montserratbold';
    font-size: 24px;
    padding-left: 55px;
    padding-bottom: 42px;
    line-height: 132.4%;
    margin: 0;
}
.article-data{
    font-family: 'montserratmedium';
    font-size: 16px;
    padding-bottom: 8px;
}
.article__1{
    grid-column-start: 1;
    grid-column-end: 9;

    grid-row-start: 1;
    grid-row-end: 2;
    
    background-image: url(../content/11.png);
    transition: 0.8s all;
}
.article__1:hover{
    background-image: url(../content/11d.png);
}
.article__2{
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;

    background-image: url(../content/22.png);
    transition: 0.8s all;
}
.article__2:hover{
    background-image: url(../content/22d.png);
}
.article__3{
    grid-column-start: 5;
    grid-column-end: 9;

    grid-row-start: 2;
    grid-row-end: 3;

    background-image: url(../content/33.png);
    transition: 0.8s all;
}
.article__3:hover{
    background-image: url(../content/33d.png);
}
.article__4{
    grid-column-start: 9;
    grid-column-end: 13;

    grid-row-start: 1;
    grid-row-end: 3;

    background-image: url(../content/44.png);
    transition: 0.8s all;
}
.article__4:hover{
    background-image: url(../content/44d.png);
}
.article-text--all-article{
    position: relative;
    grid-column-start: 11;
    grid-column-end: 13;

    grid-row-start: 3;
    grid-row-end: 4;
} /* - - - - - - - - - - - - - - - - - - - - */


/* - - - - - Кнопка "Все статьи" - - - - - */
.articles-btn{
    cursor: pointer;
    color: #2F2F2F;
    border: none;
    background-color: #FBF8F8;
    font-family: 'montserratbold';
    font-size: 18px;
    line-height: 121.9%;
    padding-top: 5px;
    padding-left: 50px;
}
.articles-btn--text:hover{
    color: #EE7700;
    transition: 0.5s all;
}
.articles-btn--text:hover .articles-row{
    border-right: 3px solid #EE7700;
    border-top: 3px solid #EE7700;
    transition: 0.5s all;
}/* - - - - - - - - - - - - - - - - - - - - */


/*

                РАЗДЕЛ
                    ОСТАВИТЬ ОТЗЫВ

*/


/* - - - - - Стрелки в проекте - - - - - */
.popular-row {
    border-right: 2px solid #2F2F2F;
    border-top: 2px solid #2F2F2F;
    box-sizing: border-box;
    transform: rotate(45deg);
    position: absolute;
    bottom: 37.5px;
    left: 145px;
    width: 9px;
    height: 9px;
}
.slider-row--prev {
    display: flex;
    flex-direction: row;
    width: 790px;
    justify-content: flex-end;
    margin-top: 26px;
    transition: 1s all;
}
.slider-row--next {
    display: flex;
    flex-direction: row;
    width: 790px;
    justify-content: flex-end;
    margin-top: 26px;
    transition: 1s all;
}
.articles-row{
    border-right: 3px solid #2F2F2F;
    border-top: 3px solid #2F2F2F;
    box-sizing: border-box;
    transform: rotate(45deg);
    position: absolute;
    width: 9.5px;
    height: 9.5px;
    right: 1.5px;
    top: 9.7px;
} /* - - - - - - - - - - - - - - - - - - - - */